* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

/* grid */
#cards {
    width: 100%;
    height: 60%;
    display: grid;
    gap: 3rem; 
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-areas:
        "daniel jonathan kira"
        "jeanette patrick kira"; */

}

body {
    width: 100vw;
    height: 100vh;
    background: #edf2f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 80%;
    margin-bottom: 40px;
} 

/* fonts, house style */
.name, h1 {
    color: white;
}
h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
.name {
    font-weight: 500;
}
p, .status {
    color: white;
}
.status {
    opacity: 0.5;
}
p {
    font-size: 2.1rem;
    opacity: 0.7;
}
#kira h1, #kira p, #jeanette h1, #jeanette p, #kira .name, #jeanette .name, #kira .status, #jeanette .status {
    color: hsl(217, 19%, 35%);
}
#kira p, #jeanette p  {
    opacity: 0.7;
}
#kira .status, #jeanette .status {
    opacity: 0.5;
}
#patrick p {
    font-size: 1.95rem;
}
#kira p {
    font-size: 2rem;
}
#jeanette p {
    font-size: 2.15rem;
}
#patrick h1, #patrick .graduates {
    padding-bottom: 15px;
}

.graduates {
    display: flex;
}
.graduates, h1 {
    padding-bottom: 20px;
}

.graduates {
    align-items: center;
}
.graduates img {
    border-radius: 50%;
    width: 4rem;
    margin-right: 15px;
}
.name {
    font-size: 1.6rem;
}
.status {
    font-size: 1.2rem;
}

.grid-col-span-2 {
    grid-column: span 2;
}

/* all */
#daniel #text, #daniel #bgColor, #jonathan, #kira, #jeanette, #patrick {
    padding: 40px;
    border-radius: 8px;
    
}


/* daniel */
#daniel {
    position: relative;
}
#daniel #bgColor {
    width: 100%;
    height: 100%;
    background-color: #733fc8;
    position: absolute;
    z-index: 1;
    
}
#daniel #bgImg {
    width: 50%;
    height: 50%;
    background: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    position: absolute;
    left: 75%;
    z-index: 2;
}
#daniel #text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    
}

/* jonathan */
#jonathan {
    background: #49556b;
}

/* patrick */
#patrick {
    background: #18202d;
}

#kira {
    /* grid-area: kira; */
    grid-row: span 2;
    background: white;
    grid-column-start: 4;
    grid-row: 1 / 3;

}

#jeanette {
    /* grid-area: jeanette; */
    background: white;
}


.attribution { font-size: 1.5rem; text-align: center; margin-bottom: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

/* @media(max-width: 500px) {
    body {
        height: auto;
    }
    #container {
        width: 90%;
        height: 100%;
        margin: 40px;
    }
    #cards {
        flex-direction: column;
        margin: 0;
    }
    #col1 {
        width: 100%;
        margin: 0;
    }
    #row1, #row2 {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    #row1 #daniel, #row1 #jonathan, #row2 #jeanette, #row2 #patrick, #col2 {
        width: 100%;
        margin: 10px 0;
    }
    #row1 #daniel {
        height: 320px;
    }

    .graduates img {
        width: 35px;
    }

    #daniel #text, #jeanette, #jonathan, #kira, #patrick {
        padding: 30px;
    }

    h1 {
        font-size: 1.1rem;
    }
    p, #jeanette p, #patrick p {
        font-size: 1rem;
    }
}

@media(min-width: 1400px) {
    #container {
        width: 70%;
        height: 60%;
        margin: 50px;
    }
    #col1 #row1 {
        margin-bottom: 21px;
    }
    #patrick h1, #patrick .graduates {
        padding-bottom: 20px;
    }
    #jeanette p {
        font-size: 1rem;
    }
} */