* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

/* flex */
body, #container, #cards, #row1, #row2, .graduates {
    display: flex;
}

body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #edf2f8;
}

/* fonts, house style */
.name, h1 {
    color: white;
}
h1 {
    font-size: 1.4rem;
    font-weight: 700;
}
.name {
    font-weight: 500;
}
p, .status {
    color: white;
}
.status {
    opacity: 0.5;
}
p {
    font-size: 1.1rem;
    opacity: 0.7;
}
#kira h1, #kira p, #jeanette h1, #jeanette p, #kira .name, #jeanette .name, #kira .status, #jeanette .status {
    color: hsl(217, 19%, 35%);
}
#kira p, #jeanette p  {
    opacity: 0.7;
}
#kira .status, #jeanette .status {
    opacity: 0.5;
}
#patrick p {
    font-size: 0.95rem;
}
#kira p {
    font-size: 1rem;
}
#jeanette p {
    font-size: 1.15rem;
}

#patrick h1, #patrick .graduates {
    padding-bottom: 15px;
}


.graduates, h1 {
    padding-bottom: 20px;
}

.graduates {
    align-items: center;
}
.graduates img {
    border-radius: 50%;
    width: 25px;
    margin-right: 15px;
}


/* container */
#container {
    width: 85%;
    height: 85%;
    margin: 50px;
}



/* col 1 */
#col1 {
    width: 78%;
    margin-right: 30px;
}

/* all */
#row1 #daniel, #row2 #patrick, #row1 #jonathan, #row2 #jeanette, #col2 {
    border-radius: 10px;
    overflow: hidden;
}
#daniel #text, #jeanette, #jonathan, #kira, #patrick {
    padding: 20px;
}

/* row 1, row 2 */
#row1 #daniel, #row2 #patrick {
    width: 70%;
    height: 100%;
}
#row1 #jonathan, #row2 #jeanette {
    width: 30%;
    height: 100%;
}
#row1 #daniel, #row2 #jeanette {
    margin-right: 30px;
}

/* row 1 */
#row1 {
    margin-bottom: 30px;
    height: 51%;
}
#row1 #daniel {
    position: relative;
}
#row1 #daniel #bgColor {
    width: 100%;
    height: 100%;
    background-color: #733fc8;
    position: absolute;
    z-index: 1;
}
#row1 #daniel #bgImg {
    width: 100%;
    height: 100%;
    background: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    position: absolute;
    left: 65%;
    z-index: 2;
}
#row1 #daniel #text {
    position: absolute;
    z-index: 3;
}
#row1 #jonathan {
    background: #49556b;
}

/* row 2 */
#row2 {
    height: 45%;
}
#row2 #jeanette {
    background: #fff;
}
#row2 #patrick {
    background: #18202d;
}

/* col 2 */
#col2 {
    width: 22%;
    height: 100%;
    background: #fff;
}

.attribution { font-size: 11px; text-align: center; margin-bottom: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 500px) {
    body {
        height: auto;
    }
    #container {
        width: 90%;
        height: 100%;
        margin: 40px;
    }
    #cards {
        flex-direction: column;
        margin: 0;
    }
    #col1 {
        width: 100%;
        margin: 0;
    }
    #row1, #row2 {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    #row1 #daniel, #row1 #jonathan, #row2 #jeanette, #row2 #patrick, #col2 {
        width: 100%;
        margin: 10px 0;
    }
    #row1 #daniel {
        height: 320px;
    }

    .graduates img {
        width: 35px;
    }

    #daniel #text, #jeanette, #jonathan, #kira, #patrick {
        padding: 30px;
    }

    h1 {
        font-size: 1.1rem;
    }
    p, #jeanette p, #patrick p {
        font-size: 1rem;
    }
}

@media(min-width: 1400px) {
    #container {
        width: 70%;
        height: 60%;
        margin: 50px;
    }
    #col1 #row1 {
        margin-bottom: 21px;
    }
    #patrick h1, #patrick .graduates {
        padding-bottom: 20px;
    }
    #jeanette p {
        font-size: 1rem;
    }
}